<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:300,400|Source+Sans+Pro:300,400" rel="stylesheet">
  <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>


  
  <div class="hero">
    <div class="title">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <h3></h3>
    </div>
    <button> <a href="/authorize_user">New Game</a></button>
  </div>

  <div class="wrapper">
    <div class="outer-container">
      <div class="row row-one">
        <div class="column column-one"></div>
        <div class="column column-two"></div>
        <div class="column column-three"></div>
      </div>
      <div class="row row-two">
        <div class="column column-one"></div>
        <div class="column column-two"></div>
        <div class="column column-three"></div>
      </div>
      <div class="row row-three">
        <div class="column column-one hidden"></div>
        <div class="column column-two"></div>
        <div class="column column-three"></div>
      </div>
      <div class="row row-four">
        <div class="column column-one"></div>
        <div class="column column-two"></div>
        <div class="column column-three"></div>
      </div>
    </div>
  </div>
  <div>
    <h3></h3>

    <h2> images </h2>
    <div>
      
    </div>
    

  </div>


 
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>

</body>
</html>