<!DOCTYPE html>
<html>
<head>
  <title>Memory Match</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,300,400|Open+Sans:100,400" rel="stylesheet">
  <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/queries.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body>



<div class="header">
  <div class="title title-left">
    <a href="/">
      <i class="fa fa-instagram" id="insta-logo" aria-hidden="true"></i>
    </a> 
    <h3><span>&vert;</span> Memory Match</h3>
  </div>
  <div class="title title-right">
    <a class="new-game" href="/authorize_user">New Game</a>
  </div>
</div>

<div class="container">
  <div class="log-in-call">
    <a href="/authorize_user">Click here to use your instagram images!</a>
  </div>
</div>


 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>