* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Arima Madurai', cursive;
}


/******************Header************************/

.hero {
  height: 75px;
  width: 100%;
  background-color: #fefefe;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
}

.title {
  display: flex;

}

.title .fa-instagram {
  font-size: 150%;
  padding-right: 15px;
}

.title h3 {
  font-size: 150%;
}

.hero button {
  border-radius: 5px;
  height: 25px;
  width: 150px;
  background-color: green;
}

/******************Board************************/

.wrapper {
  display: flex;
  background-color: #f5f7f5;
  height: 100%;
}

.outer-container {
  margin: auto;
  height:700px;
  width:500px;
  display: flex;
  border: 2px solid white;
  flex-direction: column;
}

.row {
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.column {
  color: black;
  border: 1px dashed black;
  height: 125px;
  width: 125px;
}

.hidden {
  // #d8e1d9;
}